Other/XML/movies/movies.dtd

<!ELEMENT movies (movie*)>
<!ELEMENT movie (title+, year, genre*, rating, votes)>
<!ATTLIST movie
     id CDATA #REQUIRED
     mpa-rating (G | NC-17 | R | PG | PG-13) #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title xml:lang NMTOKEN #REQUIRED>
<!ELEMENT year (#PCDATA)>  
<!ELEMENT genre (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT votes (#PCDATA)>